.forgot-password-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 9.5fr 0.5fr;
    grid-template-areas:
        "logo"
        "form"
        "footer";
}

.logo-area {
    grid-area: logo;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-areas:
        "logo" 
}

.logo-img {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.card-title-area {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-template-areas:
        "icon title";
    
    fa-icon {
        grid-area: icon;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        color: #949594;
    }

    h3 {
        grid-area: title;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

.form-area {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: black;
        text-decoration: none;

        span {
            color: #007bff;
            text-decoration: underline;
        }
    }

    .card {
        width: 35rem;
        background-color: rgb(252, 252, 252);
        box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.2);
    }
}

.footer-area {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

// create a media query for mobile devices to make the layout suitable for mobile viewing
@media only screen and (max-width: 600px) {
    .forgot-password-container {
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-areas:
            "logo"
            "form"
            "footer";
    }

    .logo-area {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo";
    }

    .form-area {
        .card {
            width: 95%;
        }
    }
}
