<div class="table-container">
    <div class="table-filters-div">
        <div class="table-filters">
            <div class="table-filter">
                <select class="form-select" aria-label="Filter By">
                    <option selected>Order By</option>
                    <option value="1">Ascending</option>
                    <option value="2">Descending</option>
                  </select>
            </div>
            <div class="table-filter">
                <input type="text" class="form-control" id="search" placeholder="Search">
            </div>
        </div>
        <div>
            <ngbd-datepicker-range-popup></ngbd-datepicker-range-popup>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Software</th>
                <th scope="col">Shop</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">09/11/2022</td>
                <td>Easy PosLite</td>
                <td>NSH</td>
                <td>30,000 KSH</td>
            </tr>
            <tr>
                <td scope="row">10/12/2022</td>
                <td>Easy PosLite</td>
                <td>Shop 1</td>
                <td>28,000 KSH</td>
            </tr>
            <tr>
                <td scope="row">01/02/2022</td>
                <td>Easy PosLite</td>
                <td>Naivas</td>
                <td>29,500 KSH</td>
            </tr>
            <tr>
                <td scope="row">20/05/2021</td>
                <td>Easy PosLite</td>
                <td>Chandarana</td>
                <td>31,000 KSH</td>
            </tr>
            <tr>
                <td scope="row">31/10/2021</td>
                <td>Easy PosLite</td>
                <td>Carrefour</td>
                <td>255 USD</td>
            </tr>
            <tr>
                <td scope="row">25/12/2021</td>
                <td>Easy PosLite</td>
                <td>Quick Mart</td>
                <td>99,000 KSH</td>
            </tr>
            <tr>
                <td scope="row">15/07/2022</td>
                <td>Easy PosLite</td>
                <td>Uchumi</td>
                <td>55,300 KSH</td>
            </tr>
            <tr>
                <td scope="row">02/08/2022</td>
                <td>Easy PosLite</td>
                <td>Game</td>
                <td>1000 USD</td>
            </tr>
            <tr>
                <td scope="row">26/03/2022</td>
                <td>Easy PosLite</td>
                <td>Tuskey's</td>
                <td>20,800 KSH</td>
            </tr>
        </tbody>
    </table>
</div>