.table-container {
    width: 100%;
    padding: 1.3rem;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

    .table-filters-div {
        margin-bottom: 1rem;
    
        .table-filters {
            display: flex;
            justify-content: space-between;
        }

        .date-picker-area {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
        }
    }

    table {
        margin-bottom: 0;

        td {
            padding: 0.9rem;
            font-size: 1.1rem;
        }

        tr {
            text-align: center;
        }
    }
}


@media (max-width: 767px) {
    .table-container {
        padding: 0.9rem;
        margin-bottom: 1rem;
    }
}

:host-context(.main-area) {
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

@media (max-width: 500px) {
    :host-context(.main-area) {
        justify-content: unset;
    }

    .table-container {
        border: none;
        box-shadow: none;
    }
}



