<div class="dashboard-container">

    <!-- Create a bootstrap toggler nav bar that is black -->
    <div class="mobile-navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="nav-brand-name">
                    <a class="navbar-brand" routerLink="/dashboard" (click)="updatePageTitle('Customer Sales')">Asprime <span style="color: orange">Partners</span></a>
                </div>
                    <a class="nav-link nav-link-username" disabled><fa-icon class="user-name-icon" [icon]="faCircleUser"></fa-icon> John Doe</a>
                <button class="navbar-toggler toggler-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" routerLink="customer-sales" (click)="updatePageTitle('Customer Sales')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><fa-icon [icon]="faSackDollar"></fa-icon> Customer Sales</a>
                        <a class="nav-link" routerLink="upload-documents" (click)="updatePageTitle('Upload Document')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><fa-icon [icon]="faCloudArrowUp"></fa-icon> Upload Document</a>
                        <a class="nav-link" routerLink="change-password" (click)="updatePageTitle('Change Password')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><fa-icon [icon]="faKey"></fa-icon> Change Password</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    

    <div class="side-nav">
        <div class="logo-area">
            <img src="assets/Images/logo.png" alt="Asprime Partners logo" width="220rem" height="auto" routerLink="customer-sales" (click)="updatePageTitle('Customer Sales')"/>
        </div>
        <div class="side-nav-btn-area">
              <a><button class="btn user-name-btn" disabled><fa-icon class="user-name-icon" [icon]="faCircleUser"></fa-icon> John Doe</button></a>
              <a routerLink="customer-sales"><button class="btn" (click)="updatePageTitle('Customer Sales')" [ngClass]="{'active-color': title === 'Customer Sales'}"><fa-icon [icon]="faSackDollar"></fa-icon>  Customer Sales</button></a>
              <a routerLink="upload-documents"><button class="btn" (click)="updatePageTitle('Upload Document')" [ngClass]="{'active-color': title === 'Upload Document'}"><fa-icon [icon]="faCloudArrowUp"></fa-icon> Upload Document</button></a>
              <a routerLink="change-password"><button class="btn" (click)="updatePageTitle('Change Password')" [ngClass]="{'active-color': title === 'Change Password'}"><fa-icon [icon]="faKey"></fa-icon>  Change Password</button></a>
        </div>
    </div>
    <div class="main-content">
        <div class="title-area">
            <h1>{{title}}</h1>
        </div>
        <div class="main-area">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="footer-area">Asprime Software Ltd. - Dream. Build. Succeed.© 2013 - {{currentYear}}</div>
</div>


