<div class="dashboard-container">
    <div class="side-nav">
        <div class="logo-area">
            <img src="assets/Images/logo.png" alt="Asprime Partners logo" width="230rem" height="auto" />
        </div>
    </div>
    <div class="main-content">
        <div class="title-area">
            <h1>Title</h1>
        </div>
        <div class="main-area">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="footer-area">Asprime Software Ltd. - Dream. Build. Succeed.© 2013 - 2023</div>
</div>


