<div class="dashboard-container">

    <!-- Create a bootstrap toggler nav bar that is black -->
    <div class="mobile-navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Asprime Partners</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">Features</a>
                        <a class="nav-link" href="#">Pricing</a>
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    

    <div class="side-nav">
        <div class="logo-area">
            <img src="assets/Images/logo.png" alt="Asprime Partners logo" width="230rem" height="auto" />
        </div>
        <div class="side-nav-btn-area">
              <a routerLink="customer-sales"><button class="btn" (click)="updatePageTitle('Customer Sales')"><fa-icon [icon]="faSackDollar"></fa-icon>  Customer Sales</button></a>
              <a routerLink="upload-documents"><button class="btn" (click)="updatePageTitle('Upload Document')"><fa-icon [icon]="faCloudArrowUp"></fa-icon> Upload Document</button></a>
              <a routerLink="change-password"><button class="btn" (click)="updatePageTitle('Change Password')"><fa-icon [icon]="faKey"></fa-icon>  Change Password</button></a>
        </div>
    </div>
    <div class="main-content">
        <div class="title-area">
            <h1>{{title}}</h1>
        </div>
        <div class="main-area">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="footer-area">Asprime Software Ltd. - Dream. Build. Succeed.© 2013 - 2023</div>
</div>


