.form-area {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: black;
    }

    .card {
        width: 35rem;
        background-color: rgb(252, 252, 252);
        box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.2);
    }
}

@media only screen and (max-width: 600px) {
    .form-area {
        .card {
            width: 95%;
        }
    }
}