<div class="change-password-container">
    <div class="card">
        <div class="card-body d-grid gap-4 text-center">
            <input class="form-control" type="text" placeholder="Old Password" aria-label="Old Password">
            <input class="form-control" type="password" placeholder="New Password" aria-label="New Password">
            <input class="form-control" type="password" placeholder="Confirm Password" aria-label="Confirm Password">
            <button class="btn btn-primary" type="button">Change Password</button>
        </div>
    </div>
</div>
