// make the upload container responsive
.upload-container {
    width: 50vw;

    ngx-dropzone-preview {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: auto !important;
    }

    ngx-dropzone-label {
        font-size: 1.5rem;
    }

    .file-labels {
        font-size: 1rem;
        overflow-wrap: anywhere;
    }
}

.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    button {
        width: 8rem;
        font-size: 1.2rem;
    }
}

// create a media query for each breakpoint and adjust the upload container accordingly
@media (max-width: 768px) {
    .upload-container {
        width: 80vw;
    }
}

@media (max-width: 576px) {
    .upload-container {
        width: 80vw;
    }
}

@media (max-width: 375px) {
    .upload-container {
        width: 70vw;
    }
}

@media (max-width: 320px) {
    .upload-container {
        width: 70vw;
    }
}