<div class="upload-container">
    <ngx-dropzone (change)="onSelect($event)" [expandable]="true" accept="application/pdf, application/vnd.openxmlformats, officedocument.wordprocessingml.document">
        <ngx-dropzone-label>Select a file or Drag here</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label class="file-labels">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
    </ngx-dropzone>
</div>
