.card-title-area {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-template-areas:
        "icon title";
    
    fa-icon {
        grid-area: icon;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        color: #949594;
    }

    h3 {
        grid-area: title;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

.form-area {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: black;
        text-decoration: none;

        span {
            color: #007bff;
            text-decoration: underline;
        }
    }

    .card {
        width: 35rem;
        background-color: rgb(252, 252, 252);
        box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.2);
    }
}

@media only screen and (max-width: 600px) {
    .form-area {
        .card {
            width: 95%;
        }
    }
}